body {
  padding-top: 0px;
  // background: url('/assets/img/spacebg.jpg')
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

h3 {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 42px;
  text-align: center;

}

/* Custom */
.title {
  border-right: 1px;
  border-color: white;
  text-align: right;
  padding-left: 10px;
  padding-top: 20px;
  margin-left: -20px;
}
@media (max-width: 480px) {
  .title {
  border-right: 1px;
  border-color: white;
  text-align: right;
  margin-right: 10px;
}
}

@media (max-width: 480px) {
  h2 {
    text-align: center;
    font-size: 24px;
    margin:10px
  }
}

/* Table */
table {
  background-color: rgba(255, 255, 255, 0.0);
  border-collapse: collapse;
}

table td { border-left: 1px solid #333; }
table td:first-child { border-left: none; }

th {
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  text-align: center;
  color: #66f;
  padding-top: 15px;
  padding-bottom: 15px;
}

td {
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: #fcc;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Space */
/* Its online experiment - apsolut */


